
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500&display=swap');
* {
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
 
    display: flex;
    align-items: center;
    justify-content: center;



}
.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    width: 800px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0,0,0, .5);
    filter: blur(none);
}
.relogio div{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    border-radius: 7px;
    letter-spacing: 3px;
    transition: background-color 2s ease-out 100ms;
    background-color: beige;
 /*   background: rgba(0,0,0, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);


 */

    

}
.relogio span {
    font-weight: bolder;
    font-size: 25px;


}
.relogio span.tempo {
    font-size: 10px;

}
.relogio div:hover{
    height: 100px;
    width: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);

    
}


.buttons{
    display: flex;
    flex-direction: column;


    height: 170px;
    width: 150px;
    background-color: #fff;
    filter: opacity(25%);

}
button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0px;
	cursor:pointer;
	text-decoration:none;
    background: transparent;
    font-weight: bolder;
    font-size: 60px;
    letter-spacing: 3px;
    background-color:rgba(0,0,0, .2);
}

.dark-mode {
background: rgb(2,36,0);
background: linear-gradient(90deg, rgba(2,36,0,1) 0%, rgba(9,9,121,1) 54%, rgba(0,212,255,1) 100%);
  }
  .btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
      /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }